#root {
    padding: 2rem;
    width: 100%;
}

.main_content_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    gap: 10px;
    width: 70%;
}

.story_wrapper {
    padding: 10px;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: column;
}

.story_wrapper * {
    color: black;
}

.button_container {
    width: 200px;
}

.story_title {
    font-weight: 900;
}

.left_column {
    width: 70%;
}